@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;

  background-color: black;
  color: white;

}

.landing {
  text-transform: uppercase;
  font-size: 2.5rem;

  height: 100vh;
}

.landing .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: 200px;

}

.description h1 {
  font-size: 2em;
  margin-bottom: 0;
  margin-right: 200px;
}

.description p {
  align-self: flex-end;
  margin-right: 150px;
  margin-top: 0;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.a-nav {
  text-decoration: none;
  color: #adb5bd;
  margin-right: 50px;
  margin-top: 10px;

  font-size: 1.5rem;
}

.a-nav:hover {
  color: white;
  transition: background-color 0.5s ease;
}


.landing img {
  height: 100vh;
  opacity: 0.8;

}

.description a {

  align-self: flex-end;
  margin-right: 100px;
  margin-top: 0;

  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px #adb5bd;
  text-align: center;

  width: 200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 10px;

}

.description a:hover {
  color: black;
  background: white;

  transition: background-color 0.5s ease;
}


.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-container {

  width: 70%;
  height: 80%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: left;


}

.about-container h2 {
  order: 1;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-container p {
  order: 2;
  font-size: 1.3em;
}

#downloadButton {
  order: 3;

  margin-top: 50px;

  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px #adb5bd;
  text-align: center;

  width: 200px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;

  align-self: center;

  font-size: 1.3em;
}

#downloadButton:hover {
  color: black;
  background: white;

  transition: background-color 0.5s ease;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm {
  width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;

  margin-top: 50px;
  margin-bottom: 50px;
}

.contactForm h2 {
  font-size: 2.2em;
  margin-bottom: 30px;
  text-align: center;
}

.contactForm form {
  display: grid;
  gap: 20px;
}

.contactForm label {
  font-weight: bold;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #333;
}

.contactForm textarea {
  resize: none;
}

.contactForm input[type="submit"] {
  padding: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm input[type="submit"]:hover {
  background: #6c757d;

  transition: background-color 0.5s ease;
}

footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  margin-right: 35px;
}



footer p,
#githubIcon,
#linkedinIcon {
  margin-right: 50px;
  margin-top: 15px;

  font-size: 1.8em;
  align-self: baseline;

}