@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;

  background-color: black;
  color: white;

}

.landing {
  text-transform: uppercase;
  font-size: 2.5rem;

  height: 100vh;
}

.landing .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: 200px;

}

.description h1 {
  font-size: 2em;
  margin-bottom: 0;
  margin-right: 200px;
}

.description p {
  align-self: flex-end;
  margin-right: 150px;
  margin-top: 0;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.a-nav {
  text-decoration: none;
  color: #adb5bd;
  margin-right: 50px;
  margin-top: 10px;

  font-size: 1.5rem;
}

.a-nav:hover {
  color: white;
  transition: background-color 0.5s ease;
}


.landing img {
  height: 100vh;
  opacity: 0.8;

}

.description a {

  align-self: flex-end;
  margin-right: 100px;
  margin-top: 0;

  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px #adb5bd;
  text-align: center;

  width: 200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-top: 10px;

}

.description a:hover {
  color: black;
  background: white;

  transition: background-color 0.5s ease;
}


.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-container {

  width: 70%;
  height: 80%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: left;


}

.about-container h2 {
  order: 1;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-container p {
  order: 2;
  font-size: 1.3em;
}

#downloadButton {
  order: 3;

  margin-top: 50px;

  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: black;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  box-shadow: 2px 2px #adb5bd;
  text-align: center;

  width: 200px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;

  align-self: center;

  font-size: 1.3em;
}

#downloadButton:hover {
  color: black;
  background: white;

  transition: background-color 0.5s ease;
}


.portfolio {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.portfolioButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

.portfolioButton {
  text-transform: uppercase;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.8em 1.5em;
  margin: 0 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #6c757d;
  box-shadow: 0 0 0 0 #6c757d;
}

.portfolioButton:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #6c757d;
}

.portfolioButton:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #6c757d;
}

.portfolio h2,
h3 {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
}

.portfolio p {
  font-size: 1.1rem;

  padding-bottom: 15px;
}


.projectWrapper {
  position: relative;

  width: 75%;
  height: 35%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  text-align: left;

  padding: 25px;
  margin: 50px;
  background-color: black;
  background-color: linear-gradient(137deg, rgb(255, 0, 179) 0%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
}

.projectWrapper::after {
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.projectWrapper:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

.footerWrapper {
  height: 100vh;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactFormBox {
  width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;

  margin-top: 50px;
  margin-bottom: 50px;
}

.contactFormBox h2 {
  font-size: 2.2em;
  margin-bottom: 30px;
  text-align: center;
}

.contactFormBox form {
  display: grid;
  gap: 20px;
}

.contactFormBox label {
  font-weight: bold;
}

.contactFormBox input[type="text"],
.contactFormBox input[type="email"],
.contactFormBox textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: #333;
}

.contactFormBox textarea {
  resize: none;
}

.contactFormBox input[type="submit"] {
  padding: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactFormBox input[type="submit"]:hover {
  background: #6c757d;

  transition: background-color 0.5s ease;
}

footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  margin-right: 35px;
  margin-top: 150px;
}



footer p,
#githubIcon,
#linkedinIcon {
  margin-right: 50px;
  margin-top: 15px;

  font-size: 1.8em;
  align-self: baseline;

}

#githubIcon,
#linkedinIcon {
  cursor: pointer;
}


/* Optimizing for phones */

@media (max-width: 800px) {
  .landing {
    font-size: 1.5rem;
    height: auto;
  }

  .description {
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 250px;
  }

  .description a {
    align-self: flex-start;
    font-size: 1.5rem;
  }

  .description h1 {
    font-size: 2rem;
    margin-right: 0;
    align-self: flex-start;
  }

  .description p {
    margin-right: 0;
    margin-bottom: 10px;
    align-self: flex-start;
  }

  nav .a-nav {
    margin-right: 10px;
  }

  .landing img {
    display: none;
  }

  .about-container {
    height: auto;
    margin-bottom: 250px;
  }

  .about-container h2 {
    font-size: 1.5rem;
  }

  .about-container p {
    font-size: 1rem;
  }

  #downloadButton {
    height: 50px;
    margin-top: 20px;
    font-size: 1rem;
  }

  .portfolio {
    height: auto;
    padding-top: 50px;
  }

  .portfolioButtons {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .portfolioButton {
    font-size: 1rem;
    padding: 0.6em 1em;
    margin: 0 0.3em;
  }

  .portfolio h2,
  .portfolio h3 {
    font-size: 1.5rem;
  }

  .portfolio p {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .projectWrapper {
    width: 90%;
    height: auto;
    margin: 20px;
    padding: 15px;

    background-color: black;
  }

  .projectWrapper,
  .projectWrapper::after .projectWrapper:hover {
    filter: none;
  }

  .footerWrapper {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contactFormBox {
    width: 90%;
    padding: 20px;
  }

  .contactFormBox {
    margin: 20px auto;
  }

  .contactFormBox input[type="text"],
  .contactFormBox input[type="email"],
  .contactFormBox textarea {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 8px;
    background-color: #f2f2f2;
    color: #333;
  }

  .contactFormBox h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  footer {
    margin: 20px;
    justify-content: center;
  }

  footer p,
  #githubIcon,
  #linkedinIcon {
    margin-right: 30px;
    margin-top: 10px;
    font-size: 1.5em;
  }
}